---

---
html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
}
.content{
	z-index: 10;
	width: 100%;
	height: 100%;
	display: flex;
  align-items: center;
  justify-content: left;
}
.index-background {
	width:100%;
	height:100%;
	position: fixed;
	z-index: -1;
	background-image:url('{{site.baseurl}}/img/vivianiscool.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	filter: blur(4px);
	--webkit-filter: blur(4px);
}
.hero-banner{
	background-color: white;
	max-width: 50%;
	padding: 1em;
}

.vcenter-contents{
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  align-items: center; 
  height: 100%;
}

@media only screen and (min-width: 45em) {
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.col{
  padding: 1em;
}