<nav class="fixed-top bg-white border-bottom-secondary" style="z-index: 999">
	<div class="nav-main">
		<a class="nav-title text-primary" href="{{site.baseurl}}/index.html">BEAM</a>
		<ul class="nav-list">
			<li class="nav-item"><a href="{{site.baseurl}}/about.html">About/FAQs</a></li>
			<li class="nav-item"><a href="{{site.baseurl}}/contact.html">Contact Us</a></li>
			<li class="nav-item"><a href="{{site.baseurl}}/lessons.html">Lesson Plans</a></li>
			<li class="nav-item"><a href="{{site.baseurl}}/resources.html">Resources</a></li>
		</ul>
	</div>
</nav>
