<section id="one" class="sides">
  <div class="inner">
  <header class="major">
    <h2>Why BEAM?</h2>
    </div>

  </header>
  <div class="con">

      <article style="background-image: url(&quot;assets/images/mark.jpg&quot;);">
    <span class="image">
      <img src="{{site.baseurl}}/assets/images/mark.jpg" alt="le mark" />
    </span>

    <header class="major">
      <h3>Why Mentors?</h3>
      <p>If you like working with kids, enjoy science, and want to meet some awesome new people then this is the club for you! We give back to the community by mentoring the next generation at site every week, and we host socials every quarter to foster community within our club.

</p>
      <a href="{{site.interest_form}}" class="button special fit">Mentor Interest Form</a>
    </header>
    
  </article>

  <article style="background-image: url(&quot;assets/images/lessons/mbots.jpg&quot;);">
    <span class="image">
      <img src="{{site.baseurl}}/assets/images/lessons/mbots.jpg" alt="le bot" />
    </span>
    <header class="major">
      <h3>Why Students?</h3>
      <p> BEAM provides weekly STEM outreach at Title I LAUSD elementary schools. We create our own lesson plans tailored to LAUSD 4th and 5th-grade science standards. We focus on creativity and exploration for our students. Reach out to us to learn more!
         </p>
      
      <a href="{{site.baseurl}}/pages/for-schools.html" class="button special fit">Info for LASUSD Schools</a>
    </header>


  </article>


  </div>
</section>
